#header__input {
  height: 32px;
  display: flex;
  flex-wrap: nowrap;
}

#menu__nav {
  margin-right: 1em;
}

#search__bar {
  height: 100%;
  width: 100%;
}

#content {
  display: flex;
  margin-top: 1em;
  height: 93%;
}

#drawer {
  width: 20%;
}

#map {
  height: inherit;
  width: 80%;
}

.nav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.nav__list {
  margin: 0;
  padding-left: 20px;
  list-style-type: square;
}

.nav__item {
  width: 100%;
  text-align: left;
  display: list-item;
}

html, body {
  height: 100%;
}

@media screen and (max-width: 799px) {
  #map {
    width: 100%;
  }
  #drawer {
    width: 300px;
  }
  .nav {
    z-index: 10;
    background-color: #fff;
    width: 300px;
    position: absolute;
    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
    /* Optionally, we animate the drawer. */
    transition: transform 0.3s ease;
  }
  .nav.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .nav__item {
    border-bottom: 1px solid #E0E0E0;
    width: 100%;
    text-align: left;
  }
}

@media screen and (min-width: 1920px) {
  #map {
    width: 84%;
  }
  #drawer {
    width: 16%;
  }
}
